h1 {
    text-align: center;
    padding: 20px;
    color: tomato;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.illustration_paragraph {
    color: yellowgreen;
   
}

.card_lemon {
  width: 300px;
  background: rgb(240, 232, 201);
  border-radius: 28px;
  padding: 14px;
  margin: 10px 0 0 10px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);

   .img-lemon {
        border-radius: 18px !important;
    }
    
}