* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 clamp(20px, 5vw, 80px);
}

a {
    text-decoration: none;

}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 3rem;
}

h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-family: "Qwitcher Grypen";
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}