header {
    position: relative;
}

/* Bannière */
.nadbanniere img {
    display: block;
    width: 100%;
    max-height: 720px;
    margin: 0 auto;
    object-fit: cover;
}

/* Zone du menu */
.menus {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 10;

    width: 100%;

    display: flex;
    justify-content: center;

    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;

    /* Conteneur du menu WordPress */
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Liste du menu */
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;

        margin: 0;
        padding: 0;

        list-style: none;

        /* Liens du menu */
        a {
            color: #6d9fe7;
            font-size: 25px;
            font-weight: 500;
            text-decoration: none;

            transition: color 0.3s ease;

            &:hover {
                color: #ffa23f;
            }
        }
    }

    /* Bouton burger caché sur ordinateur */
    .menu-toggle {
        display: none;

        span {
            display: block;
            width: 30px;
            height: 3px;

            background-color: #111;
     
        }
    }
}